<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Jogadores</title>
</head>
<body>

<h1> Cadastro de Jogadores</h1>

<form method="post">


    <label for="franquia">Franquia: </label>
    <input id="franquia" name="franquia">

    <br/>

    <label for="nome">Nome: </label>
    <input id="nome" name="nome">

    <br/>

    <label for="funcao">Função: </label>
    <input id="funcao" name="funcao">

    <br/>

    <input type="submit" value="Cadastrar">

</form>

</body>
</html>